@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    max-width: 100vw;
}

:root {
    font-size: 62.5%;
}

header {
    font-family: 'Inconsolata', monospace;
    width: 20rem;
    position: relative;
    top: 3.2rem;
    left: 5rem; 
}

header h1 {
    font-size: 2.4rem;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    margin-top: 3rem;
}

.bg-image, .error-message {
    width: 60rem;
    height: 44.7rem;
}

img {
    width: 100%;
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-message h2 {
    font-size: 6.4rem;
}

.error-message p {
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem; 
    letter-spacing: -0.035em;
    width: 38.1rem;
}

.error-message input {
    width: 21.6rem;
    height: 6.8rem;
    background: #333333;
    font-size: 1.4rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {

    header {
        top: 2rem;
        left: 2.4rem; 
    }

    .container {
        display:  flex; 
        flex-direction: column;
        align-items: center;
        max-height: 100vh;
    }
    .error-message {
        display: flex; 
        justify-content: flex-start;
        padding: 1rem;
    }
    
    .error-message h2 {      
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
    }
    
    .error-message p {
        font-size: 1.8rem;
        width: 90%;
        margin-bottom: 1.5rem;
    }
}


